<!-- input filename (can be relative to the executable) -->
input.blank.txt
<!-- Type of Simulation {HILL_CLIMBING / 0 or SIMULATED_ANNEALING / 2 or HILL_CLIMBING_PROBABILITY / 1} -->
HILL_CLIMBING
<!-- seed value (int : -1 for random) -->
-1
<!-- Temperature / Probability [0,1) | Eg: 0.05 is 5% -->
0.05
<!-- Temperature Drop Constant  | for eg: temp = temp * tempDropConstant -->
0.99
<!-- Temperature Drop After Iterations -->
5000
